.global {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.437);
  padding: 1rem;
}
.row {
}
.col {
  display: flex;
  gap: 1rem;
}
.btns {
  padding: 1rem;
  background-color: blue;
  color: white;
  cursor: pointer;
}
h3,
h4 {
  color: white;
  margin: 0;
}
